<!DOCTYPE html>
<html>
<head>
    <title>Brazor</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    
	<script src="cliente/src/clienteCom.js"></script>
    <script src="cliente/src/clienteRest.js"></script>
    <script src="cliente/src/controllers/mainController.js"></script>    
    <script src="cliente/src/controllers/loginController.js"></script>    
    <script src="cliente/src/controllers/errorController.js"></script>    
    <script src="cliente/src/racesCodeData.js"></script>
</head>
<body>
    <h1 id="enemyName"></h1>
    <script>
        var user  = JSON.parse(localStorage.user);
        //var enemy = JSON.parse(localStorage.enemy);
        $(document).ready(function() {
            $('#enemyName').text(`${user}`);
        })
    </script>
</body>
