<!DOCTYPE html>
<html>
<head>
    <title>Brazor</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
    <link rel="stylesheet" href="cliente/styles/fight.css">    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    
	<script src="cliente/src/fightCom.js"></script>
    <script src="cliente/src/clienteRest.js"></script>
    <script src="cliente/src/controllers/fightController.js"></script>
    <script src="cliente/src/racesCodeData.js"></script>
</head>
<body>
    <script>
        if ( !localStorage.fightPlaceID ) {
            location.href="/main";
        }
    </script>
    <div class="container-fluid" style="position: absolute; top: 0; vertical-align: middle">
        <div id="alert-container" class="">
            <h1 class="alert-title"></h1>
            <button id="alertButton" class="play-button" type="submit">Aceptar</button>
        </div>
    </div>
    <div class="container-fluid" style="position: absolute; top: 0;">
        <div id="alert-background" class="container-fluid"></div>
        <table id="arena">
        </table>
        <div style="width: 100%; text-align: right">
            <button id="turn-button" class="no-turn-button"></button>
        </div>
    </div>    
</body>
