<!DOCTYPE html>
<html>
<head>
    <title>Brazor</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
    <link rel="stylesheet" href="cliente/styles/login.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    
	<script src="cliente/src/clienteCom.js"></script>
    <script src="cliente/src/clienteRest.js"></script>
    <script src="cliente/src/controllers/errorController.js"></script>
    <script src="cliente/src/controllers/loginController.js"></script>
	<!-- <script src="./src/modelo.js"></script> -->
</head>

<body>
    <script>
        rest = new ClienteRest();
        com  = new ClienteCom();

        if ( localStorage.user ) {
            var localUsr = JSON.parse(localStorage.user);
            var email = localUsr.email;
            var password = localUsr.password;
            autoLogin(email, password);
        }
    </script>

    <div style="display: block;">
        <div class="content-menu menu-flex">
            <div class="menu-left">
                <a href="/">INICIO</a>
                <a href="#">CARTAS</a>
            </div>
            <div class="menu-center">
                <button class="play-button">JUGAR</button>
            </div>
            <div class="menu-right">
                <a href="/signin">SIGNIN</a>
                <a href="/login">LOGIN</a>
            </div>
        </div>
    </div>

    <div id="content">
        <div id="login-container">
            <div class="login-title" rank="1">INICIAR SESIÓN</div>
            <div class="form-group">
                <label class="control-label">Correo electrónico</label>
                <input class="form-control" id="emailLogin" placeholder="Correo electrónico" type="text">
            </div>
            <div class="form-group">
                <label class="control-label">Contraseña</label>
                <input class="form-control" id="passwordLogin" placeholder="Contraseña" type="password">
            </div>
            <div id="errorBox"></div>
            <div class="button-center">
                <button class="play-button" type="reset" onclick="loginClicked()">LOGIN</button>            
            </div>
            <div class="green-link-container">
                <span href="#" class="green-link">Olvidé mi contraseña</span>
                <a href="/signin" class="green-link">No tengo cuenta</a>
            </div>
        </div>
    </div>
</body>
</html>