<!DOCTYPE html>
<html>
<head>
    <title>Brazor</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
    <link rel="stylesheet" href="cliente/styles/main.css">
    <link rel="stylesheet" href="cliente/styles/pace.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.js"></script>
    
	<script src="cliente/src/clienteCom.js"></script>
    <script src="cliente/src/clienteRest.js"></script>
    <script src="cliente/src/controllers/errorController.js"></script>
    <script src="cliente/src/controllers/mainController.js"></script>    
    <script src="cliente/src/controllers/loginController.js"></script>    
    <script src="cliente/src/racesCodeData.js"></script>
</head>

<body>
    <script>
        // else {
        //     var localUsr = JSON.parse(localStorage.user);
        //     if ( !localUsr.online ) {
        //         console.log("Hola! veo que ya has estado por aquí...");
        //         var email = localUsr.email;
        //         var password = localUsr.password;
        //         rest.loginUser(email, password, showError);
        //     }
        // }

        if ( localStorage.firstTime ) {
            showAlert("¡Bienvenido " + user.name + "! Añade a tus amigos para desafiarles");
            localStorage.removeItem("firstTime");
        }
    </script>
    <div id="add-friend-container" class="hidden">
        <h1>Agregar amigo</h1>
        <div class="form-group">
            <label class="control-label">Nombre o email</label>
            <input class="form-control" id="textFriend" placeholder="Nombre o email" type="text">
        </div>
        <div class="button-center">
            <button class="play-button" onclick="addFriend()">Aceptar</button>
        </div>
    </div>
    <div id="alert-container" class="hidden">
        <h1 class="alert-title"></h1>
        <button id="alertButton" class="play-button" onclick="hideAlert()">Aceptar</button>
    </div>
    <div id="alert-background" class="container-fluid hidden" onclick="hideAlert()"></div>
    <div id="content" class="container-fluid" style="position: absolute; top: 0;">
        <div class="col-md-12">
            <div class="row main-title">
                <h1 id="name"></h1>
            </div>
            <button class="close-button" style="float: right; margin-top: -90px" onclick="logOut()">Cerrar sesión</button>
        </div>
        <div class="col-md-4">
            <div id="stats-container" style="text-align: center">
                <br>
                <span>Experiencia</span>
                <div class="progress-box">
                    <span id="experience"></span>
                </div>
                <br>
                <br>
                <span>Diplomas</span>
                <br>
                <div id="diplomas"></div>
            </div>
        </div>
        <div class="col-md-4" style="text-align: center;">
            <div id="#fighter-stats">
                <div class="stats-deck">
                    <span id="life"   class="stat-icon heart"></span>
                    <span id="damage" class="stat-icon power"></span>
                </div>
            </div>
            <div id="#profile-container" style="padding-bottom: 10px;">
                <img id="profile">
            </div>
            <div class="fighters-deck">
            </div>
            <div id="errorBox"></div>
        </div>
        <div class="col-md-4">
            <div class="friends-list-container">
                <h3>Amigos</h3>
                <button class="add-friend-button" onclick="showAddFriend()">+</button>
                <table class="table" id="friends-table">
                    
                </table>
            </div>
        </div>
    </div> 
</body>
</html>