@font-face { font-family: Birch; src: url(../fonts/BirchStd.otf); }

html, body {
    margin: 0;
    height: 100%;
}

.container-fluid {
    background: url(../img/selection/background.jpg) center center no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    padding: 0 40px;
}

.main-title {
    background: url(../img/selection/back-swords.png) center center no-repeat transparent;
    background-size: 100% 120%;
    width: 280px;
    height: 150px;
    text-align: center;
    font-family: Birch;
    margin: auto;
    padding-top: 50px;
    color: white;
}

.fighters-deck {
    line-height: 21px;
    box-sizing: border-box;
    margin: auto;
    margin-top: -20px;
    padding-top: 30px;
    background: url(../img/main/deck-background.png);
    background-size: 100% 100%;
    width: 350px;
    height: 120px;
}

.fighters-deck button {
    border: none;
    cursor: pointer;
}

#stats-container {
    margin: auto;
    margin-top: -20px;
    max-width: 450px;
    text-align: justify;
    background: url(../img/selection/bg-description.png) center center no-repeat transparent;
    background-size: 100% 100%;
    color: white;
    padding: 140px 100px;
    padding-bottom: 110px;
}

.friends-list-container {
    background: url(../img/selection/bg-form.png) center center no-repeat transparent;
    background-size: 100% 85%;
    padding: 60px 60px 80px;
    max-width: 625px;
    min-height: 500px;
    margin:auto;
}

.friends-list-container h3 {
    color: white;
    font-family: Birch;
    text-align: center;
    font-size: 35px;
}


#stats-container span {
    font-size: 16px;
    color: #dddddd;
}

#diplomas {
    background: url(../img/main/diploma.png);
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-size: 100%;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: auto;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
    text-decoration: none;
    height: 110px;
    width: 110px;
    font-family: Birch;
    padding: 10px;
    color: black;
    font-size: 70px;
    text-shadow:
        0 1px 1px rgb(255, 255, 255),
        0 1px 2px rgb(255, 255, 255),
        0 1px 3px rgb(255, 255, 255),
        0 1px 4px rgb(255, 255, 255);
    }


.progress-box {
    height: 20px;
    width: 100%;
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
    padding: 2px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    margin-top: 5px;
}

.progress-box > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: rgb(157,213,58); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 );
    box-shadow:
        inset 0 2px 9px  rgba(255,255,255,0.3),
        inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

#profile {
    margin: auto;
}


.table>tbody>tr>td, .table>tbody>tr>th{
    border-top: 0px;
}

table {
    background-color: rgb(43, 35, 25);
    color: white;
    border: 1px solid white;
    border-radius: 2px;
}

tbody {
    height: 100px;
    overflow-y: auto;
}

tr:nth-child(even) {
    background-color: rgb(23, 15, 5)
}

.icon {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-size: 100%;
    box-sizing: border-box;
    color: rgb(54, 39, 18);
    cursor: auto;
    display: inline-block;
    font-size: 15px;
    height: 54px;
    line-height: 21px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 3px;
    position: relative;
    text-decoration: none;
    width: 54px;
    border-radius: 10px;
    box-shadow: 0 5px 10px black;
}

.yopuka {
    background-image: url(../img/icons/yopuka.png);
}
.feca {
    background-image: url(../img/icons/feca.png);
}
.aniripsa {
    background-image: url(../img/icons/aniripsa.png);
}
.sadida {
    background-image: url(../img/icons/sadida.png);
}
.timador {
    background-image: url(../img/icons/timador.png);
}
.sacrogito {
    background-image: url(../img/icons/sacrogito.png);
}
.ocra {
    background-image: url(../img/icons/ocra.png);
}
.osamodas {
    background-image: url(../img/icons/osamodas.png);
}
.locked {
    background-image: url(../img/icons/locked.png);
    height: 52px;
    box-shadow: inset 0 5px 5px rgb(0, 0, 0, 0.8);
}

.error-box {
    text-align: center;
    color: red;
    text-shadow: 0 3px 8px black;
    font-family: Birch;
}

.stats-deck {
    display: block;
    line-height: 21px;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: -30px;
}

.stats-deck span{
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

.stat-icon {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-size: 100%;
    box-sizing: border-box;
    color: rgb(54, 39, 18);
    cursor: auto;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
    text-decoration: none;
    height: 110px;
    width: 110px;
    padding-top: 50px;
    margin-top: 0px;
    font-family: Birch;
    text-align: center;
}

.heart {
    background-image: url(../img/selection/picto-health.png);
}

.power {
    background-image: url(../img/selection/picto-war.png);
}

.close-button {
    background: url(../img/close-btn.png) center center no-repeat transparent;
    font-family: Birch;
    background-size: 95% auto;
    width: 180px;
    height: 90px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    padding-top: 12px;
    color: black;
    line-height: 20px;
    transition: all .1s;
    font-weight: 700;
    border: 0;
    margin-top: 5px;
}

.close-button:hover {
    background: url(../img/close-btn-over.png) center center no-repeat transparent;
    background-size: 100%;
    font-size: 30px;
    color: rgb(40, 40, 40);
    transition: all .1s;
    line-height: 27px;
}

#alert-background {
    position: absolute;
    top: 0;
    background: black;
    min-height: 100%;
    min-width: 100%;
    z-index: 1;
    opacity: 0.8;
}

#alert-container{
    max-width: 600px;
    min-width: 600px;
    min-height: 500px;
    background: url(../img/selection/bg-description.png) center center no-repeat transparent;
    background-size: 100% 100%;
    color: white;
    padding: 140px 120px;
    padding-bottom: 110px;
    z-index: 2;
    position: relative;
    margin: auto;
    margin-top: 150px;
    max-width: 400px;
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.alert-title {
    margin-top: 80px;
    font-size: 40px;
    font-family: Birch;
    text-align: center;
    color: white;
}

.play-button {
    background: url(../img/btn-play1.png) center center no-repeat transparent;
    font-family: Birch;
    background-size: 95% auto;
    width: 230px;
    height: 111px;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    padding-top: 12px;
    color: #2f2f25;
    line-height: 20px;
    transition: all .1s;
    font-weight: 700;
    border: 0;
}

.play-button:hover {
    background: url(../img/btn-play1-over.png) center center no-repeat transparent;
    background-size: 100%;
    font-size: 40px;
    transition: all .1s;
    line-height: 27px;
}
