@font-face { font-family: Birch; src: url(fonts/BirchStd.otf); } 

.masthead {
    height: 60vh;
    min-height: 20px;
    background-image: url(img/back.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

#content {
    height: 80vh;
    background: url(img/sub-back.png) center center no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.play-button {
    background: url(img/btn-play1.png) center center no-repeat transparent;
    background-size: 95% auto;
    width: 230px;
    height: 111px;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    padding-top: 12px;
    color: #2f2f25;
    line-height: 20px;
    transition: all .1s;
    font-weight: 700;
    border: 0;
}

.play-button:hover {
    background: url(img/btn-play1-over.png) center center no-repeat transparent;
    background-size: 100%;
    font-size: 40px;
    transition: all .1s;
    line-height: 27px;
}

.content-menu {
    margin: 0 auto;
    height: 60px;
    margin-top: -50px;
    position: relative;
    font-family: Birch;
    background: linear-gradient(to bottom, 
        rgba(76,76,76,1) 0%,
        rgba(89,89,89,1) 12%,
        /* rgba(102,102,102,1) 25%, */
        rgba(71,71,71,1) 39%,
        rgba(44,44,44,1) 50%,
        rgba(0,0,0,1) 51%,
        rgba(17,17,17,1) 60%,
        /* rgba(43,43,43,1) 76%, */
        rgba(28,28,28,1) 91%,
        rgba(19,19,19,1) 100%);
}

.menu-flex {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.menu-left {
    flex: 2;
    text-align: right;
}

.menu-right {
    flex: 2;
    text-align: left;
}

.menu-center {
    width: 235px;
    text-align: center;
}

.content-menu a {
    font-size: 25px;
    color: rgb(240, 240, 240);
    text-transform: uppercase;
    padding: 3px 25px;
    display: inline-block;
    position: relative;
    height: 74px;
    line-height: 74px;
    vertical-align: middle;
    transition: all .1s;
}

.content-menu a:hover {
    text-shadow: 0 0 15px rgba(255, 255, 255, 1);
    text-decoration: none;
}

#intro {
    background: url(img/back-lower.png) top center no-repeat transparent;
    background-size: 100% auto;
    color: rgb(230, 230, 230);
    max-width: 815px;
    position: relative;
    margin: auto;
    height: 600px;
}


